* {
    box-sizing: border-box;
}
body {
    font-family: "Courier New", monospace;
    margin:0;
    padding: 0;
}

div.topnav {
    width:100%;
    height:100px;
    overflow: hidden;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
div.pgname {
    grid-column-start: 1;
    grid-column-end: 2;
    color:white;
    font-size: 60px;
    padding: 15px;
}
div.search {
    grid-column-start: 2;
    grid-column-end:3;
    padding-top: 55px;
}
div.menu {
    grid-column: 3/5;
    padding: 10px;
}
.search input[type=search] {/* type=text?*/
    height: 30px;
    width: 300px;
    border:2px solid #ccc;
    font-size: 15px;
    background-image: url('images/search.png');
    background-repeat: no-repeat;
    background-position: top right;
}
.menu li{
    list-style-type: none;
    font-size: 20px;
    display: inline-block;
}
.menu a {
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 10px;
    display: block;
}
.menu a:hover {
    color:lightsteelblue;
}
.menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 3px;
}
.menu .dropdown:hover .dropdown-content{
    display: block;
}
div.slideshow {
    width:100%;
    z-index: -1;
    margin-top: 0px;
}
img.slide {
    height:600px;
    width:100%;
    z-index: -1;
    transition: 0.6s ease;
}
button.rightarr, button.leftarr {
    position: absolute;
    cursor: pointer;
    top:50%;
    right:5px;
    height:40px;
    width:40px;
    color: white;
    padding: 5px;
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border-style: hidden;
}
button.leftarr {
    left:5px;
}
button.rightarr:hover, button.leftarr:hover {
    color:lightsteelblue;
}
button.dot:hover, button#active{
    background-color:lightsteelblue;
}
button.dot {
    cursor: pointer;
    height:15px;
    width:10px;
    border-color: lightsteelblue;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left:50%;
    transition: background-color 0.6s ease;
}
img.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

div.footer {
    display: grid;
    grid-template-rows: auto auto auto auto;
    width:100%;
    height:300px;
}
div.socialMedia {
    grid-row: 1/2;
    width:100%;
    background-color: lightsteelblue;
    margin: 0;
}
div.sname {
    color:black;
    font-size: 20px;
    float: left;
    margin: 0 100px;
    padding: 10px 0;
}
.sicon {
    float: right;
    margin: 0 100px;
}
.sicon img {
    transition: width 2s;
    margin: 10px;
}
.sicon img:hover {
    width: 35px;
}
div.fbody{
    grid-row: 2/5;
    width:100%;
    background-color: black;
    margin: 0;
    clear:both;
}
div.fmenu {
    float: left;
    margin: 20px 150px;
}
.fmenu li{
    list-style-type: none;
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 20px;
    text-align: left;
}
.fmenu a {
    text-decoration: none;
    color: white;
    text-align: left;
    display: block;
}
.fmenu a:hover {
    color:lightsteelblue;
}
li.fheading {
    color: gray;
}
.imgGallery{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    grid-template-rows:  repeat(6,7vw);
    gap:15px;
    margin: 70px 0;
}
.imgGallery img {
    width:100%;
    height: 100%;
    object-fit: fill;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    transition: opacity 0.6s ease;
}
.item1 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}
.item2 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;

}
.item3 {
    position: relative;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 7;
}
.item4 {
    position: relative;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
}
.item5 {
    position: relative;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 7;
}
.itemText{
    position: absolute;
    top:40%;
    left:40%;
    border-radius: 5px;
    background-color:rgba(255,255,255,0.8);
    font-size: 15px;
    padding: 5px;
    transition: background-color 0.6s ease;
}
.itemText:hover{
    cursor: pointer;
    background-color: lightsteelblue;
    color:white;

}
.imgGallery img:hover {
    opacity: 0.5;
}